* {
    box-sizing: border-box;
    font-family: 'Josefin Sans';
  }

  body{
      margin: 0;
      padding: 0 10rem;
  }

  header {
      text-align: center;
      font-size: 2rem;
      font-weight: 800;
  }

  .container {
      background-color: rgb(237, 242, 239);
      border-radius: 5px;
      padding: 2rem 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }


.btn-new-bookmark {
    width: 35%;
    flex-direction: center;
    font-size: 1rem;
    font-weight: 400;
    height: 2rem;
    margin-bottom: 1rem;
    padding-top: .2rem;
 }

 .filter{
     font-size: 1rem;
    height: 2rem;
    width: 35%;
    margin-bottom: 1rem;
 }

 .btn:not(.btn-delete-bookmark){
    background-color: gray;
    color: white;
    border-radius: .5rem;
    border: 2px solid gray;
    
    text-transform: uppercase;
    cursor: pointer;
 }

 .delete-btn {
    cursor: pointer;
 }

 .btn:hover {
    background-color: lightgray;
    border: 1px solid black;
    color: black;
 }

 .flex-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 5rem;

    background-color :gray;
    text-align: center;
   

}

.bookmarkDetails {
 height: 17rem;
 width: 25rem;
 padding: 1.5rem 1.5rem;
 border: 2px solid gray;
 border-radius: 1rem;;
}

input, label {
    font-family: 'Josefin Sans';
    font-size: 1rem;
}

.inputAndTitle {
    margin-right: 2rem;
    padding-bottom: 1rem;
}

input {
    width: 13rem;
    margin-bottom: .5rem;
    font-weight: 300;
}

.AddFilterByRating {
    width: 13rem;
    height: 2rem;
    margin-bottom: .5rem;
    margin-right: 1rem;
}

textarea {
    vertical-align: top;
    width: 12rem;
    height: 4rem; 
    margin-bottom: .9rem;
} 
.bookmark-btn-create, .bookmark-btn-cancel {
    padding: .5rem .5rem;
    margin-left: 2rem;
    font-size: .8rem;
}

.bookmark-btn-create {
    margin-left: 4rem;
    margin-right: 2rem;
}

li{
    display: inline;;
    list-style: none;
    text-align: center;
}

.bookmark-element,.expandContent {
    display: flex;
    flex-direction: column;
    align-items: left;
    border-radius: 3px;
    border: 2px solid gray;
    padding-top: .5rem;
    margin-top: .5rem;
    border-radius: 5px;
    width:  22rem;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: left;
} 

.bookmark-item-title {
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
}

.expandContent {
    display: flex;
    justify-content: center; 
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 20rem;
    
}

.visit-btn {
    margin-left: 3rem;
    margin-bottom: .3rem;
    width: 12rem;
    height: 2rem;
    font-size: 1rem;
}

.delete-btn {
    background-color: transparent;
    
    border: none;
    font-size: 1rem;
}
.rating-span {
    display: inline;
    text-align: center;
    font-size: 1rem;
}

p {
    text-transform: capitalize;
    font-size: 1rem;
    margin-left: 1rem;

}

.hiddenClass {
    display: none;
}

/* addBookmarkDescription {
    vertical-align: middle; */
    /* font-size: .8rem;
    /* width: 10rem;
    height: 4rem; */
    /* margin-bottom: 1rem;   *
}
/* .desc-label {
   text-align: center;
}

.textarea {
    vertical-align: top;
} 

 

  .btn:not(.btn-delete-bookmark){
    background-color: #008B8B;
    color: white;
    border-radius: .5rem;
    border: 2px solid lightgray;
    
    text-transform: uppercase;
    cursor: pointer;
 }

 .btn:hover {
    background-color: #1C2833;
    border: 1px solid #7FFFD4;
 }


 .btn-new-bookmark, .btn-filter-bookmark {
    width: 25%;
    padding: .2rem 4rem;
    font-size: 1rem;
    font-weight: 400;
 }

 .btn-new-bookmark {
     margin-right: 2rem;
 }

 .btn-filter-bookmark li.rating:hover {
    background-color: blue;
 }

 .new-filter-container {
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-content: center;
 }

 ul {
     list-style: none;
     padding:0;
 }

 li {
     background-color: rgb(237, 242, 239);
     font-size: 1.3rem;
     border: 1px solid gray;
     margin-left: 3rem; 
     padding: .3rem 2rem;
     border-radius: 2px;

     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-between;
 }

 .break {
     flex-basis: 100%;
     width: 0;
     background-color: white;
 }

 

 .btn-visit-site {
    width: 75%;
    padding: .5rem 1rem; 
    font-size: 1rem;
    font-weight: 300;
 }

 .btn-delete-bookmark {
     font-size: 2rem;
     background-color: transparent;
 }

 #add-bookmark-form{
 background-color: rgb(237, 242, 239);
 padding: .5rem;

 }
 
 h2 {
     text-align: left;
     font-size: 1rem;
     font-weight: 800;
     text-transform: uppercase;
     padding-bottom: 1rem;
 }



 .stars-rating-container {
     padding-right: 0;
 }
 .stars-rating-container {
    display: inline-block;
    display: flex;
    flex-direction: row-reverse;
    margin: 0 auto;
    display: inline; 
    display: inline-block;
    margin: 0 auto;
    width: 20rem;
    text-align: center; 
     
  }
 input {
     font-size: 1rem;
     font-weight: 600;
     margin-bottom: .8rem;
     border: 1px solid gray;
     border-radius: 2px;
     padding: 5px; 
 }

 /* input:focus, textarea:focus {
     outline: none;
 } 

 .bookmark-title-input {
    margin-right: 1rem;
 }


/* input.star { 
    display: none; 
}

label.star {
    font-size: 2rem;
    color: red;
    padding: .2rem;
    transition: all .2s;
}
   
input.star:checked ~ label.star:before {
    content: '\f005';
    color: red;
    transition: all .25s;
}
   
input.star-5:checked ~ label.star:before {
    color: red;
}
   
input.star-1:checked ~ label.star:before 
{ color: red; }
    
label.star:before {
    content: '\f006';
    font-family: FontAwesome;
} 

.add-description {
    font-size: .8rem;
    font-weight: 400;
    margin-top: .7rem;
    margin-bottom: 1rem;
    border: 1px solid gray;
    border-radius: 2px;
    height: 5rem;
    width: 27rem;
    padding-top: .5rem;
    padding-left: 0;
    text-align: left;
    
}

 .btn-create-bookmark, .btn-cancel-bookmark {
    width: 25%;
    padding: .3rem 1rem;
    font-size: 1rem;
    font-weight: 300;
 }

 .create-cancel-container {
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
 }

 

 .hidden {
    display: none;
  
}

.expanded {
    display: inline-block;
    text-align: center;
    margin-top: 1rem;
    width: 30rem;

}*/